<h3>Student: {{$ctrl.user.name}}</h3>
<h4>Student ID: {{$ctrl.user.id}}</h4>
<hr>

<form>
	<div class="form-group">
		<label for="semester">Graduation Semester</label>
		<select name="semester" id="semester" ng-model="$ctrl.user.semester">
			<option value="spring">Spring</option>
			<option value="summer">Summer</option>
			<option value="fall">Fall</option>
		</select>
	</div>
	<div class="form-group">
		<label for="year">Graduation Year</label>
		<select name="year" id="year" ng-model="$ctrl.user.year">
			<option ng-repeat="year in $ctrl.years" value="{{year}}">{{year}}</option>
		</select>
	</div>
</form>
